<ul>
    {{#each technos}}
    <li class="{{className}}">
        <div class="tab_left"></div>
        <div class="title">{{title}}</div>
        <div class="description">{{description}}</div>
    </li>
    {{/each}}
</ul>

<input type="text" name="technoTitle" id="technoTitle" />
<button id="addTechno">Add techno</button>