<ul>
    <li data-each-techno="technos.models" data-class="techno.className">
        <div class="tab_left"></div>
        <div class="title" data-text="techno.title"></div>
        <div class="description" data-text="techno.description"></div>
    </li>
</ul>

<input type="text" data-value="editedTechno.title" />
<textarea data-value="editedTechno.description"></textarea>
<div data-text="editedTechno:title() < editedTechno.title"></div>
<button id="addTechno">Add techno</button>