Bienvenue DevoxxFR sur la liste des technos que je vais vous présenter !...

<ul>
    {{#each technos}}
    <li class="{{typeToClass}}">
        <div class="tab_left"></div>
        <div class="title">{{title}}</div>
        <div class="description">{{description}}</div>
    </li>
    {{/each}}
</ul>