Bienvenue DevoxxFr sur la liste des technos !

<ul>
    {{#each technos}}
    <li class="{{type}}">
        <div class="tab_left"></div>
        <div class="title">{{title}}</div>
        <div class="description">{{description}}</div>
    </li>
    {{/each}}
</ul>