<ul>
  <li data-each-techno="technos.models">
    <input type="checkbox" data-checked="techno.done">
    <span data-text="techno.summary"></span>
  </li>
</ul>
<button id="addBtn" class="btn">Add</button>
<button id="loadBtn" class="btn">Load from localstorage</button>
